@use "./variables" as v;

.button {
  text-decoration: none;
  background-color: v.$green;
  border: 1px solid v.$green;
  // border-radius: 5px;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 3rem auto;
  display: block;
  text-align: center;
  width: 50%;
  margin-bottom: 1rem auto 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  &:hover {
    background-color: v.$yellow;
    border: 1px solid v.$yellow;
    color: #fff;
  }
}
