$primary-color: #ffde7d;
$secondary-color: #00b8a9;
$tertiary-color: #f6416c;
$fourthiary-color: #f8f3d4;
$font-color: #747474;

$red: #ff0000;
$green: #38761d;
$yellow: #c39814; //f1c232;
$blue: #0000ff;
