@use "./partials/variables" as v;
// @use './partials/fonts' as f;
@use "./partials/mixins" as m;
@use "./partials/breakpoints" as bp;
@use "./partials/buttons";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  z-index: -1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: #f7f8f9;
  // font-family: "Press Start 2P", cursive;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5rem;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: left;
  // font-family: "Press Start 2P", cursive;
  @include bp.medium {
    padding: 0 15%;
  }
  @include bp.large {
    padding: 0 20%;
  }
  &__logo {
    margin: 0 auto;
    max-width: 30%;
    @include bp.medium {
      max-width: 20%;
      margin: 0 auto 0 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  // text-align: center;
  line-height: 2.25rem;
  color: v.$sl-green;
}

h1 {
  font-size: 2.5rem;
  //   color: v.$red;
}
h2 {
  font-size: 2rem;
  // color: v.$green;
  margin: 6rem 0 3rem;
  padding-top: 6rem;
  // border-top: 1px solid v.$green;
  border-top: 1px solid v.$sl-red;
}
h3 {
  // color: v.$yellow;
  font-size: 1.5rem;
  margin: 2.5rem 0;
  padding-top: 1.5rem;
  // border-top: 1px solid v.$yellow;
  border-top: 1px solid v.$sl-red;
  width: 60%;
}
h4 {
  font-size: 1.17rem;
  // color: v.$blue;
}
h5 {
  font-size: 1rem;
  // color: v.$red;
  margin-top: -1rem;
}
h6 {
  font-size: 0.83rem;
}

// because there is something we want to see on github but not the website
h6 {
  display: none;
}

// a {
//   background-color: v.$green;
//   text-decoration: none;
//   text-align: center;
//   width: 100%;
//   color: #fff;
//   padding: 1rem 0;
//   margin: 0 auto;
//   display: block;
//   &:hover {
//     background-color: v.$yellow;
//   }
//   @include bp.medium {
//     width: 50%;
//   }
// }

.license-image {
  display: inline-block !important;
  width: 20px;
}
