@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.printing {
  width: 100%;
  &__list {
    text-align: center;
    list-style: none;
    padding: 0;
    &-item {
      margin-top: 1rem;
    }
  }
  &__download {
    color: v.$green;
    text-decoration: none;
  }
  &__assets-img {
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
}
