@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  // background-color: v.$primary-color;
  &__logo {
    max-width: 20%;
  }
}
