@use "../../styles/partials/variables" as v;
@use "../../styles/partials/mixins" as m;
@use "../../styles/partials/breakpoints" as bp;

.header {
  display: flex;
  align-items: center;
  padding: 2rem;
  // background-color: v.$primary-color;width: 100%;

  justify-content: space-between;
  @include bp.medium {
    margin-bottom: 0;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__theme-btn {
    padding: 0.5rem;
    width: unset;
    margin: unset;
  }
  &__github-link {
    margin-right: 2rem;
    &-logo {
      max-width: 40px;
    }
  }
}
